body.authentication {
    #mainpage {
        text-align: center;
        #mainpage_container {
            display: inline-block;
            position: relative;
            margin-top: 15%;
            padding: 30px;
            background-color: white;
            border: 10px solid rgba(128, 128, 128, 0.5);
            background-clip: padding-box;

            table {
                width: 100%;
            }
        }
    }
}