/** Various base styling **/
body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(10,10,10);
    font-size: 14px;
}

*::selection {
    //background: transparent; //TODO!!
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/** Headings **/
h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

hr {
    border: 0;
    background-color: gray;
    height: 5px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style: square;
    margin-left: 25px;
    margin-bottom: 15px;
    li {
        margin-bottom: 5px;
    }
}

/* Table style */
table {
    border: 0;
    text-align: left;
    td {
        border-style: hidden;
    }

    th {
        border: 0;
    }

    tr.odd {
        background: #eeeeee;
    }

    tr.even {
        background-color: white;
    }
}


/** Misc common styling **/
.error {
    color: red;
}

.fullscreen_pages {
    @include fixed-fill();
    z-index: 9999;
}

.pages {
    position: absolute;
    left: 0;
    top: 120px;
    right: 0;
    bottom: 0;
}

#background {
    @include absolute-fill();
    width: 100%;    
    height: 100%;
    background: #345874 url('../../pictures/Kyokushinkai.svg') right top no-repeat;
}
