.button, .dataTables_paginate a {
    cursor: pointer;
    display: inline-block;
    border: 1px solid gray;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: black !important;
    font-weight: bold;
    font-size: 1.1em;
    @include slight-shadow();
    background-color: $slight-gray;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &.button-small {
        padding: 2px;
        box-shadow: none;
    }

    &:active, &:hover {
        background-color: $light-blue;
    }

    &.ok_button {
        .fa {
            color: $green;
        }
        &:active, &:hover {
            background-color: $light-green;
        }
    }

    &.cancel_button {
        .fa {
            color: $red;
        }
        &:active, &:hover {
            background-color: $light-red;
        }
    }

    .button_icon {
        margin-left: 10px;
        height: 15px;
        width: 15px;
        float: right;
    }

    .fa {
        &:last-child {
            margin-left: 15px;
        }
        &:first-child {
            margin-right: 15px;
        }
    }

    // Datatable's paginate buttons has the same class name
    // as the first and last grids in the grid model.
    &.last, &.first {
        float: none !important;
    }
}

.dataTables_paginate a, .button.button-notext {
    .fa {
        margin: 0 !important;
        &:first-child {
            margin-right: 2px !important;
        }
    }
}
