#header {
    #logopicture {
        height: 150px;
        margin: 20px;
    }
    #toolbar {
        float: right;
        height: 110px;
        background-color: white;
        background-clip: content-box;

        border: {
            bottom: 10px solid rgba(128, 128, 128, 0.5);
            left: 10px solid rgba(128, 128, 128, 0.5);
        }

        #userbox {
            box-sizing: border-box;
            display: none;
            padding: 15px;
            float: right;
            border-right: 1px solid gray;
            #userbox_photo {
                border: 2px solid black;
                float: left;
                width: 110px;
                height: 80px;
                width: 60px;
            }

            #userbox_info {
                display: inline-block;
                margin-left: 20px;
            }

            #userbox_name {
                font-weight: bold;
                font-size: 20px;
            }

            #userbox_kind {
                font-style: italic;
                margin: 0;
                font-size: 16px;
            }
        }
        
        /** Toolbar buttons in the header **/
        .toolbar_button {
            display: none;
            float: right;
            width: 100px;
            height: 100%;
            border-right: 1px solid gray;
            text-align: center;
            text-decoration: none;
            color: black;
            background-color: #f0f0f0;
            text-transform: uppercase;
            font-size: 14px;
            img {
                margin-top: 10px;
                height: 40px;
                width: 40px;
            }
            &.toolbar_button_selected {
                background-color: #AACDEE;
            }
        }

        #datefield {
            float: right;
            text-align: center;
            #date {
                margin: 25px;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}