#loadingpage {
    @include absolute-fill();
    text-align: center;
    display: none;
    background: rgba(255,255,255,0.8);
    padding-top: 10%;
    z-index: 999;
    img {
        padding: 20px;
    }
}