@mixin absolute-fill() {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin fixed-fill() {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin slight-shadow {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

.anticlearfix {
    zoom: 0;
      &:before, &:after { content: none; }
      &:after { clear: none; }
}
