#modalpage {
    @include absolute-fill();
    background: rgba(0,0,0,0.3);
    display: none;
    z-index: 999;

    #modal {
        width: 500px;
        margin: {
            right: auto;
            left: auto;
            top: 10%;
        }
        position: relative;
        border: 2px solid gray;
        overflow: auto;
        background-color: white;

        .modalicon-field {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 55px;
            background: #D8D8D8;
            font-size: 42px;
            .modalicon {
                padding: 10px;
                &.modalicon-cancel {
                    color: $red;
                }
                &.modalicon-ok {
                    color: $green;
                }
                &.modalicon-confirm {
                    color: $blue;
                }
            }
        }

        .modalcontent {
            margin-left: 55px;
            padding: 10px;
            overflow: auto;
            h2 {
                margin: 0;
                margin-bottom: 15px;
            }

            .modalcontent-text {
                margin-bottom: 25px;
            }

            .button {
                float: right;
                margin-left: 10px;
            }
        }
    }
}