/* 
	Document   : pagestyle
	Created on : 2013-aug-04, 16:55:00
	Author     : Simon
	Description:
*/

/* DataTables style */

.dataTable {
	width: 100% !important;
}

body.regterminal {
	#page1 {
		text-align: center;
		#page1_container {
			display: inline-block;
			position: relative;
			padding: 30px;
			background-color: white;
			border: 10px solid rgba(128, 128, 128, 0.5);
			background-clip: padding-box;
			margin-top: 15%;

			h2 {
				margin-bottom: 30px;
			}

			.greeting-picture {
				width: 400px;
				height: auto;
				padding: 20px;
			}

			.reading-card-loading {
				display: none;
				@include absolute-fill();
				background: rgba(255, 255, 255, 0.8);
				.reading-card-loading-wrap {
					@include absolute-fill();
					margin: auto;
					width: 130px;
					height: 35px;
				}
			}
		}
	}

	#page2 {
		display: none;

		#page2_container {
			border: 10px solid rgba(128, 128, 128, 0.5);
			background: white;
			background-clip: padding-box;
			position: relative;
			margin: auto;
			margin-top: 50px;
			width: 60%;
			height: 80%;
			overflow: auto;
		}

		#sessionlist {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 70%;
			background-color: #d8d8d8;
			border-right: 2px solid gray;
			@include slight-shadow();
		}

		#sessioninfo {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: 10px;
			left: 30%;
		}

		.sessioninfo_page {
			display: none;
		}

		.sessioninfo_header {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100px;
			ul {
				margin: 0;
				padding: 0;
			}

			li {
				display: inline;
				margin-right: 30px;
			}

			h2 {
				margin: 0;
			}
		}

		.newsession_header {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 50px;
			h2 {
				margin: 0;
			}
		}

		.sessioninfo_content {
			top: 100px;
			bottom: 90px;
			left: 0;
			right: 0;
			position: absolute;
		}

		.newsession_content {
			top: 50px;
			bottom: 90px;
			left: 0;
			right: 0;
			position: absolute;
		}

		.sessioninfo_footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			.button {
				margin: 0;
				margin-left: 20px;
				float: right;
			}
		}

		#sessioninfo_newsession {
			display: none;
		}

		#sessioninfo_greetingheader {
			text-align: center;
		}

		.instructoroptions {
			display: none;
			input {
				margin-right: 10px;
			}
		}

		.registerbutton,
		.unregisterbutton,
		.instructor_registerbutton {
			float: right;
			display: none;
		}

		#button_field {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100px;
			text-align: right;
			margin-right: 150px;
		}

		.trainingsession_box {
			display: inline-block;
			text-overflow: ellipsis;
			overflow: hidden;
			position: relative;
			white-space: nowrap;
			width: 100%;
			color: black;
			padding: 10px;
			padding-left: 20px;
			border-bottom: 1px solid gray;
			text-decoration: none;
			outline: none;
			box-sizing: border-box;
			-moz-box-sizing: border-box; /* Firefox */
			background: #eeeeee;
			transition: background-color 0.2s;
		}

		.registration_indicator_red,
		.registration_indicator_green,
		.registration_indicator_blue
		{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 10px;
		}

		.registration_indicator_red {
			background-color: $red;
		}
		.registration_indicator_green {
			background-color: $green;
		}
		.registration_indicator_blue {
			background-color: $blue;
		}
		.trainingsession_name {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.trainingsession_time {
			font-style: italic;
			font-size: 16px;
		}

		.trainingsession_box_selected {
			background-color: #AACDEE;
			border-bottom: 1px solid gray;
		}
	}

	.timecounter_container {
		display: inline-block;
		margin: 0 20px;
		.timecounter {
			width: 200px;
			height: 160px;
			position: relative;
			background: #eeeeee;
			border: 2px solid gray;
			@include slight-shadow();
		}

		.hour {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 50%;
		}

		.minute {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 50%;
		}

		.timefield {
			@include absolute-fill();
			text-align: center;
			margin: auto;
			width: 100%;
			height: 30px;
			background: #ffffff url('../../pictures/icons/colon.svg') no-repeat center center;
			background-size: auto 100%;
		}

		.plusbuttons {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 50%;
		}

		.minusbuttons {
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 50%;
		}

		.buttonicon {
			@include absolute-fill();
			margin: auto;
			height: 30px;
			width: 30px;
		}

		#timefield_hours_start,
		#timefield_minutes_start,
		#timefield_hours_end,
		#timefield_minutes_end {
			display: inline-block;
			width: 48%;
			height: 100%;
			text-align: center;
			font-weight: bold;
			margin-top: 4px;
			font-size: 20px;
			white-space: nowrap;
		}
	}
}