$main-color:		white;
$secondary-color:	#325775;

$slight-gray:		#eeeeee;
$gray:				#d8d8d8;
$darker-gray:		#808080;

$red:				#FF2525;
$light-red:			#FFC6C6;
$green:				#38b233;
$light-green:		#c6ffc8;
$blue:				#5185E0;
$light-blue:		#C7D8E9;