/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
/* line 24, ../sass/_grid.scss */
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
/* line 25, ../sass/_grid.scss */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
/* line 26, ../sass/_grid.scss */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
/* line 27, ../sass/_grid.scss */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
/* line 28, ../sass/_grid.scss */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
/* line 29, ../sass/_grid.scss */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
/* line 30, ../sass/_grid.scss */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
/* line 31, ../sass/_grid.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/* line 32, ../sass/_grid.scss */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
/* line 33, ../sass/_grid.scss */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
/* line 34, ../sass/_grid.scss */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
/* line 35, ../sass/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 38, ../sass/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

/* line 44, ../sass/_grid.scss */
.first {
  margin-left: 0;
}

/* line 48, ../sass/_grid.scss */
.last {
  float: right;
}

/* line 22, ../sass/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 24, ../sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 25, ../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 28, ../sass/_mixins.scss */
.anticlearfix {
  zoom: 0;
}
/* line 30, ../sass/_mixins.scss */
.anticlearfix:before, .anticlearfix:after {
  content: none;
}
/* line 31, ../sass/_mixins.scss */
.anticlearfix:after {
  clear: none;
}

/** Various base styling **/
/* line 2, ../sass/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #0a0a0a;
  font-size: 14px;
}

/* line 12, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 16, ../sass/_base.scss */
em {
  font-style: italic;
}

/** Headings **/
/* line 21, ../sass/_base.scss */
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 27, ../sass/_base.scss */
h1 {
  font-size: 42px;
}

/* line 31, ../sass/_base.scss */
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* line 36, ../sass/_base.scss */
hr {
  border: 0;
  background-color: gray;
  height: 5px;
}

/* line 42, ../sass/_base.scss */
p {
  margin-bottom: 15px;
}

/* line 46, ../sass/_base.scss */
ul {
  list-style: square;
  margin-left: 25px;
  margin-bottom: 15px;
}
/* line 50, ../sass/_base.scss */
ul li {
  margin-bottom: 5px;
}

/* Table style */
/* line 56, ../sass/_base.scss */
table {
  border: 0;
  text-align: left;
}
/* line 59, ../sass/_base.scss */
table td {
  border-style: hidden;
}
/* line 63, ../sass/_base.scss */
table th {
  border: 0;
}
/* line 67, ../sass/_base.scss */
table tr.odd {
  background: #eeeeee;
}
/* line 71, ../sass/_base.scss */
table tr.even {
  background-color: white;
}

/** Misc common styling **/
/* line 78, ../sass/_base.scss */
.error {
  color: red;
}

/* line 82, ../sass/_base.scss */
.fullscreen_pages {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

/* line 87, ../sass/_base.scss */
.pages {
  position: absolute;
  left: 0;
  top: 120px;
  right: 0;
  bottom: 0;
}

/* line 95, ../sass/_base.scss */
#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #345874 url("../../pictures/Kyokushinkai.svg") right top no-repeat;
}

/* line 1, ../sass/_button.scss */
.button, .dataTables_paginate a {
  cursor: pointer;
  display: inline-block;
  border: 1px solid gray;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: black !important;
  font-weight: bold;
  font-size: 1.1em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #eeeeee;
  box-sizing: border-box;
}
/* line 15, ../sass/_button.scss */
.button:focus, .dataTables_paginate a:focus {
  outline: none;
}
/* line 19, ../sass/_button.scss */
.button.button-small, .dataTables_paginate a.button-small {
  padding: 2px;
  box-shadow: none;
}
/* line 24, ../sass/_button.scss */
.button:active, .button:hover, .dataTables_paginate a:active, .dataTables_paginate a:hover {
  background-color: #c7d8e9;
}
/* line 29, ../sass/_button.scss */
.button.ok_button .fa, .dataTables_paginate a.ok_button .fa {
  color: #38b233;
}
/* line 32, ../sass/_button.scss */
.button.ok_button:active, .button.ok_button:hover, .dataTables_paginate a.ok_button:active, .dataTables_paginate a.ok_button:hover {
  background-color: #c6ffc8;
}
/* line 38, ../sass/_button.scss */
.button.cancel_button .fa, .dataTables_paginate a.cancel_button .fa {
  color: #ff2525;
}
/* line 41, ../sass/_button.scss */
.button.cancel_button:active, .button.cancel_button:hover, .dataTables_paginate a.cancel_button:active, .dataTables_paginate a.cancel_button:hover {
  background-color: #ffc6c6;
}
/* line 46, ../sass/_button.scss */
.button .button_icon, .dataTables_paginate a .button_icon {
  margin-left: 10px;
  height: 15px;
  width: 15px;
  float: right;
}
/* line 54, ../sass/_button.scss */
.button .fa:last-child, .dataTables_paginate a .fa:last-child {
  margin-left: 15px;
}
/* line 57, ../sass/_button.scss */
.button .fa:first-child, .dataTables_paginate a .fa:first-child {
  margin-right: 15px;
}
/* line 64, ../sass/_button.scss */
.button.last, .button.first, .dataTables_paginate a.last, .dataTables_paginate a.first {
  float: none !important;
}

/* line 70, ../sass/_button.scss */
.dataTables_paginate a .fa, .button.button-notext .fa {
  margin: 0 !important;
}
/* line 72, ../sass/_button.scss */
.dataTables_paginate a .fa:first-child, .button.button-notext .fa:first-child {
  margin-right: 2px !important;
}

/* line 1, ../sass/_modal.scss */
#modalpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}
/* line 7, ../sass/_modal.scss */
#modalpage #modal {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  position: relative;
  border: 2px solid gray;
  overflow: auto;
  background-color: white;
}
/* line 19, ../sass/_modal.scss */
#modalpage #modal .modalicon-field {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 55px;
  background: #D8D8D8;
  font-size: 42px;
}
/* line 27, ../sass/_modal.scss */
#modalpage #modal .modalicon-field .modalicon {
  padding: 10px;
}
/* line 29, ../sass/_modal.scss */
#modalpage #modal .modalicon-field .modalicon.modalicon-cancel {
  color: #ff2525;
}
/* line 32, ../sass/_modal.scss */
#modalpage #modal .modalicon-field .modalicon.modalicon-ok {
  color: #38b233;
}
/* line 35, ../sass/_modal.scss */
#modalpage #modal .modalicon-field .modalicon.modalicon-confirm {
  color: #5185e0;
}
/* line 41, ../sass/_modal.scss */
#modalpage #modal .modalcontent {
  margin-left: 55px;
  padding: 10px;
  overflow: auto;
}
/* line 45, ../sass/_modal.scss */
#modalpage #modal .modalcontent h2 {
  margin: 0;
  margin-bottom: 15px;
}
/* line 50, ../sass/_modal.scss */
#modalpage #modal .modalcontent .modalcontent-text {
  margin-bottom: 25px;
}
/* line 54, ../sass/_modal.scss */
#modalpage #modal .modalcontent .button {
  float: right;
  margin-left: 10px;
}

/* 
	Document   : pagestyle
	Created on : 2013-aug-04, 16:55:00
	Author     : Simon
	Description:
*/
/* DataTables style */
/* line 10, ../sass/_regterminal.scss */
.dataTable {
  width: 100% !important;
}

/* line 15, ../sass/_regterminal.scss */
body.regterminal #page1 {
  text-align: center;
}
/* line 17, ../sass/_regterminal.scss */
body.regterminal #page1 #page1_container {
  display: inline-block;
  position: relative;
  padding: 30px;
  background-color: white;
  border: 10px solid rgba(128, 128, 128, 0.5);
  background-clip: padding-box;
  margin-top: 15%;
}
/* line 26, ../sass/_regterminal.scss */
body.regterminal #page1 #page1_container h2 {
  margin-bottom: 30px;
}
/* line 30, ../sass/_regterminal.scss */
body.regterminal #page1 #page1_container .greeting-picture {
  width: 400px;
  height: auto;
  padding: 20px;
}
/* line 36, ../sass/_regterminal.scss */
body.regterminal #page1 #page1_container .reading-card-loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}
/* line 40, ../sass/_regterminal.scss */
body.regterminal #page1 #page1_container .reading-card-loading .reading-card-loading-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 130px;
  height: 35px;
}
/* line 50, ../sass/_regterminal.scss */
body.regterminal #page2 {
  display: none;
}
/* line 53, ../sass/_regterminal.scss */
body.regterminal #page2 #page2_container {
  border: 10px solid rgba(128, 128, 128, 0.5);
  background: white;
  background-clip: padding-box;
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 60%;
  height: 80%;
  overflow: auto;
}
/* line 65, ../sass/_regterminal.scss */
body.regterminal #page2 #sessionlist {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 70%;
  background-color: #d8d8d8;
  border-right: 2px solid gray;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
/* line 76, ../sass/_regterminal.scss */
body.regterminal #page2 #sessioninfo {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 10px;
  left: 30%;
}
/* line 85, ../sass/_regterminal.scss */
body.regterminal #page2 .sessioninfo_page {
  display: none;
}
/* line 89, ../sass/_regterminal.scss */
body.regterminal #page2 .sessioninfo_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}
/* line 95, ../sass/_regterminal.scss */
body.regterminal #page2 .sessioninfo_header ul {
  margin: 0;
  padding: 0;
}
/* line 100, ../sass/_regterminal.scss */
body.regterminal #page2 .sessioninfo_header li {
  display: inline;
  margin-right: 30px;
}
/* line 105, ../sass/_regterminal.scss */
body.regterminal #page2 .sessioninfo_header h2 {
  margin: 0;
}
/* line 110, ../sass/_regterminal.scss */
body.regterminal #page2 .newsession_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
/* line 116, ../sass/_regterminal.scss */
body.regterminal #page2 .newsession_header h2 {
  margin: 0;
}
/* line 121, ../sass/_regterminal.scss */
body.regterminal #page2 .sessioninfo_content {
  top: 100px;
  bottom: 90px;
  left: 0;
  right: 0;
  position: absolute;
}
/* line 129, ../sass/_regterminal.scss */
body.regterminal #page2 .newsession_content {
  top: 50px;
  bottom: 90px;
  left: 0;
  right: 0;
  position: absolute;
}
/* line 137, ../sass/_regterminal.scss */
body.regterminal #page2 .sessioninfo_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 142, ../sass/_regterminal.scss */
body.regterminal #page2 .sessioninfo_footer .button {
  margin: 0;
  margin-left: 20px;
  float: right;
}
/* line 149, ../sass/_regterminal.scss */
body.regterminal #page2 #sessioninfo_newsession {
  display: none;
}
/* line 153, ../sass/_regterminal.scss */
body.regterminal #page2 #sessioninfo_greetingheader {
  text-align: center;
}
/* line 157, ../sass/_regterminal.scss */
body.regterminal #page2 .instructoroptions {
  display: none;
}
/* line 159, ../sass/_regterminal.scss */
body.regterminal #page2 .instructoroptions input {
  margin-right: 10px;
}
/* line 164, ../sass/_regterminal.scss */
body.regterminal #page2 .registerbutton,
body.regterminal #page2 .unregisterbutton,
body.regterminal #page2 .instructor_registerbutton {
  float: right;
  display: none;
}
/* line 171, ../sass/_regterminal.scss */
body.regterminal #page2 #button_field {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  text-align: right;
  margin-right: 150px;
}
/* line 181, ../sass/_regterminal.scss */
body.regterminal #page2 .trainingsession_box {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100%;
  color: black;
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid gray;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  background: #eeeeee;
  transition: background-color 0.2s;
}
/* line 200, ../sass/_regterminal.scss */
body.regterminal #page2 .registration_indicator_red,
body.regterminal #page2 .registration_indicator_green,
body.regterminal #page2 .registration_indicator_blue {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
}
/* line 211, ../sass/_regterminal.scss */
body.regterminal #page2 .registration_indicator_red {
  background-color: #ff2525;
}
/* line 214, ../sass/_regterminal.scss */
body.regterminal #page2 .registration_indicator_green {
  background-color: #38b233;
}
/* line 217, ../sass/_regterminal.scss */
body.regterminal #page2 .registration_indicator_blue {
  background-color: #5185e0;
}
/* line 220, ../sass/_regterminal.scss */
body.regterminal #page2 .trainingsession_name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 226, ../sass/_regterminal.scss */
body.regterminal #page2 .trainingsession_time {
  font-style: italic;
  font-size: 16px;
}
/* line 231, ../sass/_regterminal.scss */
body.regterminal #page2 .trainingsession_box_selected {
  background-color: #AACDEE;
  border-bottom: 1px solid gray;
}
/* line 237, ../sass/_regterminal.scss */
body.regterminal .timecounter_container {
  display: inline-block;
  margin: 0 20px;
}
/* line 240, ../sass/_regterminal.scss */
body.regterminal .timecounter_container .timecounter {
  width: 200px;
  height: 160px;
  position: relative;
  background: #eeeeee;
  border: 2px solid gray;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
/* line 249, ../sass/_regterminal.scss */
body.regterminal .timecounter_container .hour {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}
/* line 257, ../sass/_regterminal.scss */
body.regterminal .timecounter_container .minute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
}
/* line 265, ../sass/_regterminal.scss */
body.regterminal .timecounter_container .timefield {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 30px;
  background: white url("../../pictures/icons/colon.svg") no-repeat center center;
  background-size: auto 100%;
}
/* line 275, ../sass/_regterminal.scss */
body.regterminal .timecounter_container .plusbuttons {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 50%;
}
/* line 284, ../sass/_regterminal.scss */
body.regterminal .timecounter_container .minusbuttons {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50%;
}
/* line 293, ../sass/_regterminal.scss */
body.regterminal .timecounter_container .buttonicon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
  width: 30px;
}
/* line 300, ../sass/_regterminal.scss */
body.regterminal .timecounter_container #timefield_hours_start,
body.regterminal .timecounter_container #timefield_minutes_start,
body.regterminal .timecounter_container #timefield_hours_end,
body.regterminal .timecounter_container #timefield_minutes_end {
  display: inline-block;
  width: 48%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 4px;
  font-size: 20px;
  white-space: nowrap;
}

/* line 2, ../sass/_authentication.scss */
body.authentication #mainpage {
  text-align: center;
}
/* line 4, ../sass/_authentication.scss */
body.authentication #mainpage #mainpage_container {
  display: inline-block;
  position: relative;
  margin-top: 15%;
  padding: 30px;
  background-color: white;
  border: 10px solid rgba(128, 128, 128, 0.5);
  background-clip: padding-box;
}
/* line 13, ../sass/_authentication.scss */
body.authentication #mainpage #mainpage_container table {
  width: 100%;
}

/* line 1, ../sass/_loadingpage.scss */
#loadingpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  padding-top: 10%;
  z-index: 999;
}
/* line 8, ../sass/_loadingpage.scss */
#loadingpage img {
  padding: 20px;
}

/* line 2, ../sass/_header.scss */
#header #logopicture {
  height: 150px;
  margin: 20px;
}
/* line 6, ../sass/_header.scss */
#header #toolbar {
  float: right;
  height: 110px;
  background-color: white;
  background-clip: content-box;
  border-bottom: 10px solid rgba(128, 128, 128, 0.5);
  border-left: 10px solid rgba(128, 128, 128, 0.5);
  /** Toolbar buttons in the header **/
}
/* line 17, ../sass/_header.scss */
#header #toolbar #userbox {
  box-sizing: border-box;
  display: none;
  padding: 15px;
  float: right;
  border-right: 1px solid gray;
}
/* line 23, ../sass/_header.scss */
#header #toolbar #userbox #userbox_photo {
  border: 2px solid black;
  float: left;
  width: 110px;
  height: 80px;
  width: 60px;
}
/* line 31, ../sass/_header.scss */
#header #toolbar #userbox #userbox_info {
  display: inline-block;
  margin-left: 20px;
}
/* line 36, ../sass/_header.scss */
#header #toolbar #userbox #userbox_name {
  font-weight: bold;
  font-size: 20px;
}
/* line 41, ../sass/_header.scss */
#header #toolbar #userbox #userbox_kind {
  font-style: italic;
  margin: 0;
  font-size: 16px;
}
/* line 49, ../sass/_header.scss */
#header #toolbar .toolbar_button {
  display: none;
  float: right;
  width: 100px;
  height: 100%;
  border-right: 1px solid gray;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 61, ../sass/_header.scss */
#header #toolbar .toolbar_button img {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
/* line 66, ../sass/_header.scss */
#header #toolbar .toolbar_button.toolbar_button_selected {
  background-color: #AACDEE;
}
/* line 71, ../sass/_header.scss */
#header #toolbar #datefield {
  float: right;
  text-align: center;
}
/* line 74, ../sass/_header.scss */
#header #toolbar #datefield #date {
  margin: 25px;
  font-size: 30px;
  font-weight: bold;
}
