a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #505050;
}

.customMain {
    width: 100%;
}

/* Header & meny */

header.header {
    color: white;
}

header.header .inner-header {
    background: #325775;
    padding: 15px;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

header.header .inner-header .logo {
    display: inline-block;
}

header.header .inner-header .title {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 40px;
}

header.header nav {
    background: #d8d8d8;
    border-bottom: 1px solid #808080;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    position: relative;
}

/* Meny */
.tablist {
    display: inline-block;
    list-style: none;
    z-index: 15;
    position: relative;
    margin: 0;
}

.tablist li {
    display: inline-block;
    background-color: #eeeeee;
    text-align: center;
    margin: 0;
}

.tablist li:hover {
    background-color: #C7D8E9
}

.tablist li .fa {
    margin-right: 15px;
}

.tablist li.active-tab,
.tablist li.active-tab:hover {
    background-color: #AACDEE;
    color: white;
}

.tab_spec_list li a,
.tablist li a {
    font-size: 1em;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    border-right: 1px solid #808080;
    color: black;
}

/* Slut på header & meny */

#main {
    background-color: white;
    margin: 50px;
    margin-bottom: 0;
}

.section-wrap {
    border: 1px solid #eeeeee;
}

.table-outer-wrap {
    padding: 10px;
    height: 550px;
}

.spec-wrap {
    height: 570px;
}

.spec-outer-wrap {
    margin: 10px;
}

.spec-inner-wrap {
    min-height: 433px;
    padding-bottom: 55px;
    margin-bottom: -55px; /* This will make the buttons stick to the bottom */
}

#spec_box .button-field {
    height: 55px;
}

.info-box {
    position: relative;
}

.inactive-overlay {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.8);
    z-index: 10;
}

/* left container. allt inuti main -> left_container */

.dataTable td, .dataTable th {
    padding: 10px;
    border-style: hidden;
    cursor: pointer;
}

.dataTable th:hover {
    background-color: #c7d8e9;
}

td, th {
    padding-right: 10px;
    padding-bottom: 10px;
}

th {
    font-weight: bold;
}


.dataTable tbody tr:hover:not(.disabled),
.dataTable tbody .highlighted:not(.disabled) {
    background: #8d9bb2;
}

.dataTable .row_selected:not(.disabled) {
    background: #808080;
    color: white;
}

.table-inner-wrap {
    margin-bottom: 10px;
    min-height: 375px;
}

.dataTables_info {
    margin-bottom: 10px;
    font-style: italic;
}

.dataTables_filter {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dataTable tr.disabled {
    color: rgb(216, 216, 216);
}

.sorting_asc {
    background: url('../pictures/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../pictures/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('../pictures/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('../pictures/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('../pictures/sort_desc_disabled.png') no-repeat center right;
}

/* Slut på left container etc */

/* right container. allt inuti main -> right_container */
#right_container {
    height: 100%;
}

/*
spec box tabbed menu ..
*/
.tab_spec_list {
    list-style: none;
    background: #d8d8d8;
    margin: 0;
}

#member_spec_menu .tab-bottom-overlay {
    width: 100%;
    height: 5px;
    background: white;
    position: relative;
}

.tab_spec_list li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
}

.tab_spec_list li a {
    display: block;
    font-weight: bold;
    background-color: #EEEEEE;
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    border-bottom: none;
}
.tab_spec_list li a:hover {
    background-color: #C7D8E9;
}

.tab_spec_list li.tab-selected a,
.tab_spec_list li.tab-selected a:hover {
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

/*
end of spec box tabbed menu
*/

#table_buttons {
    padding-top: 4px;
}

#grade, #latest_training_sessions {
    background-color: white;
    overflow: auto;
}

#grade::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#grade::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#grade::-webkit-scrollbar-thumb {
    background-color: #0ae;
    
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                       color-stop(.5, rgba(255, 255, 255, .2)),
                       color-stop(.5, transparent), to(transparent));
}

#member-name {
    margin-bottom: 15px;
}

#member-photo {
    position: relative;
    width: 150px;
    height: 193px;
    float: right;
    border: 1px solid gray;
    background: #D8D8D8;
    text-align: center;
}

#member-photo em {
    display: inline-block;
    margin-top: 70px;
}

#member-photo img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

/* grade stuff */
/* ... */

/* add member, edit member form stuff */
label.valid {
    position: absolute;
    left: 500px;
    text-indent: -9999px; 
}

label.error {
    position: absolute;
    left: 320px;
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

#edit-card {
    font-size: 1.2em;
}

#edit-card .fa {
    margin-left: 10px;
}

#read-card-page {
    display: none;
    background: rgba(0,0,0,0.3);
}

#read-card-page .read-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 220px;
    width: 200px;
    margin: auto;
    background: white;
    border: 2px solid gray;
    padding: 20px;
}

#read-card-page .read-card img {
    height: auto;
    width: 200px;
    margin-bottom: 10px;
}

#read-card-page .read-card .button {
    float: right;
}

#read-card-page .reading-card-loading-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

/* Edit training_session */
#middle-buttons {
    text-align: center;
}

#middle-buttons a {
    position: relative;
    width: 75px;
}